# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Jupyter
.ipynb_checkpoints

# Data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Logs and Reports
logs/data/
reports/*

# OS
.DS_Store
Thumbs.db
#Ignore Airflow logs (This fixes your fatal Git error!)

logs/

#Ignore Python cache files

pycache/
*.pyc
*.pyo

#Ignore virtual environments

venv/
env/

#Ignore secret keys and passwords

.env