# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Jupyter
.ipynb_checkpoints

# Data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Logs and Reports
logs/*
reports/*

# OS
.DS_Store
Thumbs.db
